<!-- Tab buttons in one row -->
<div class="d-flex justify-content-end gap-2 mb-3">
    <button class="btn rounded-3 border text-dark text-uppercase m-0 px-2 py-1"
            type="button"
            style="width: auto; background-color: #F7F6E5"
            data-bs-toggle="collapse"
            data-bs-target="#btn_extl_att"
            aria-expanded="true"
            aria-controls="btn_extl_att">
        <!-- <img class="me-n1" width="48" height="48" src="https://img.icons8.com/?size=100&id=117498&format=png&color=000000" alt="Attainment" title="Attainment"/> -->
        <img class="" width="48" height="48" src="https://img.icons8.com/?size=100&id=U6PP5OT1Bp86&format=png&color=000000" alt="Attainment" title="Attainment"/>
        <span class="px-2 py-0">Attainment</span>
    </button>
    <button class="btn rounded-3 border text-dark text-uppercase m-0 px-2 py-1"
            type="button"
            style="width: auto; background-color: #F7F6E5"
            data-bs-toggle="collapse"
            data-bs-target="#btn_extl_prog"
            aria-expanded="false"
            aria-controls="btn_extl_prog">
        <!-- <img class="me-n2" width="48" height="48" src="https://img.icons8.com/?size=100&id=117511&format=png&color=000000" alt="Progress" title="Progress"/> -->
        <img class="" width="48" height="48" src="https://img.icons8.com/?size=100&id=PAHdYixOU6ku&format=png&color=000000" alt="Progress" title="Progress"/>
        <span class="px-2 py-0">Progress</span>
    </button>
</div>