<!-- Tab buttons in one row -->
<div class="d-flex justify-content-end gap-2 mb-3">
    <button class="btn bg-gradient-info rounded-3 border text-white text-uppercase m-0 px-1 py-0"
            type="button"
            style="width: auto;"
            data-bs-toggle="collapse"
            data-bs-target="#btn_yrgrp_prog_ebp"
            aria-expanded="true"
            aria-controls="btn_yrgrp_prog_ebp">
    <!-- <img class="me-n2" width="42" height="42" src="https://img.icons8.com/plasticine/100/60.png" alt="60"/> -->
        <img class="me-n2" width="46" height="46" src="https://img.icons8.com/bubbles/100/positive-dynamic.png" alt="positive-dynamic"/>
    <span class="px-2 py-0">Expected / Better Progress</span>
    </button>
    <button class="btn bg-gradient-success rounded-3 border text-white text-uppercase m-0 px-1 py-0"
            type="button"
            style="width: auto"
            data-bs-toggle="collapse"
            data-bs-target="#btn_yrgrp_prog_bp"
            aria-expanded="false"
            aria-controls="btn_yrgrp_prog_bp">
    <!-- <img class="me-n2" width="42" height="42" src="https://img.icons8.com/plasticine/100/70.png" alt="70"/> -->
        <img class="me-n2" width="46" height="46" src="https://img.icons8.com/clouds/100/positive-dynamic.png" alt="positive-dynamic"/>
    <span class="px-2 py-0">Better Progress</span>
    </button>
</div>