<!-- Tab buttons in one row -->
<div class="d-flex justify-content-start gap-2 mb-3">
    <button class="btn rounded-3 border text-dark text-uppercase m-0 px-2 py-1"
            type="button"
            style="width: auto;"
            data-bs-toggle="collapse"
            data-bs-target="#c1"
            aria-expanded="true"
            aria-controls="c1">
        <img class="" width="54" height="54" src="https://img.icons8.com/?size=100&id=kmUrp7YjifpP&format=png&color=000000" alt="Cohort Insights" title="Cohort Insights"/>
        <span class="px-2 py-0">Cohort Insights</span>
    </button>
    <button class="btn rounded-3 border text-dark text-uppercase m-0 px-2 py-0"
            type="button"
            style="width: auto;"
            data-bs-toggle="collapse"
            data-bs-target="#c2"
            aria-expanded="false"
            aria-controls="c2">
        <img class="" width="56" height="56" src="https://img.icons8.com/?size=100&id=AR3CXSH0karp&format=png&color=000000" alt="Year Group Insights" title="Year Group Insights"/>
        <span class="px-2 py-0">Year Group Insights</span>
    </button>
    <button class="btn rounded-3 border text-dark text-uppercase m-0 px-2 py-0"
            type="button"
            style="width: auto;"
            data-bs-toggle="collapse"
            data-bs-target="#c3"
            aria-expanded="false"
            aria-controls="c3">
        <img class="" width="54" height="54" src="https://img.icons8.com/?size=100&id=FpDt7vrQAK5h&format=png&color=000000" alt="Student Insights" title="Student Insights"/>
        <span class="px-2 py-0">Student Insights</span>
    </button>
</div>