<!-- Tab buttons in one row -->
<div class="d-flex justify-content-end gap-2 mb-3">
    <button class="btn bg-gradient-info rounded-3 border text-white text-uppercase m-0 px-1 py-0"
            type="button"
            style="width: auto;"
            data-bs-toggle="collapse"
            data-bs-target="#btn_yrgrp_att_60"
            aria-expanded="true"
            aria-controls="btn_yrgrp_att_60">
    <img class="me-n2" width="46" height="46" src="https://img.icons8.com/plasticine/100/60.png" alt="60"/>
    <span class="px-2 py-0">& Above Attainment</span>
    </button>
    <button class="btn bg-gradient-success rounded-3 border text-white text-uppercase m-0 px-1 py-0"
            type="button"
            style="width: auto"
            data-bs-toggle="collapse"
            data-bs-target="#btn_yrgrp_att_70"
            aria-expanded="false"
            aria-controls="btn_yrgrp_att_70">
    <img class="me-n2" width="46" height="46" src="https://img.icons8.com/plasticine/100/70.png" alt="70"/>
    <span class="px-2 py-0">& Above Attainment</span>
    </button>
</div>