<!-- Tab buttons in one row -->
<div class="d-flex justify-content-end align-items-center gap-2 mb-3">
    <button class="btn bg-gradient-info rounded-3 border text-white m-0 px-3 py-2"
            type="button"
            style="width: auto;"
            data-bs-toggle="collapse"
            data-bs-target="#btn_extl_yrgrp_atabove"
            aria-expanded="true"
            aria-controls="btn_extl_yrgrp_atabove">
        <div class="d-flex justify-content-end align-items-center gap-1">
                <img class="me-2" width="48" height="48" src="https://img.icons8.com/?size=100&id=54980&format=png&color=000000" 
                alt="at/above curriculum standards" title="at/above curriculum standards"/>
                <span>at/above<br/><span class="fs-6 text-uppercase">Curriculum Standards</span><br/>
                <span class="text-xs fw-lighter">(Stanine 5 & above)</span></span>
        </div>
    </button>
    <button class="btn bg-gradient-success rounded-3 border text-white m-0 px-3 py-2"
            type="button"
            style="width: auto"
            data-bs-toggle="collapse"
            data-bs-target="#btn_extl_yrgrp_above"
            aria-expanded="false"
            aria-controls="btn_extl_yrgrp_above">
        <div class="d-flex justify-content-end align-items-center gap-1">
                <img class="me-2" width="48" height="48" src="https://img.icons8.com/?size=100&id=nlkL6xqNCH4C&format=png&color=000000" 
                alt="at least level above curriculum standards" title="at least level above curriculum standards"/>
                <span>at least level above<br/><span class="fs-6 text-uppercase">Curriculum Standards</span><br/>
                <span class="text-xs fw-lighter">(Stanine 6 & above)</span></span>
        </div>
    </button>
</div>