<!-- Tab buttons in one row -->
<div class="d-flex justify-content-end gap-2 mb-3">
    <button class="btn bg-gradient-primary rounded-3 border text-white text-uppercase m-0 px-1 py-1"
            type="button"
            style="width: auto; background-color:#F97A00;"
            data-bs-toggle="collapse"
            data-bs-target="#btn_extl_att"
            aria-expanded="true"
            aria-controls="btn_extl_att">
        <img class="me-n1" width="36" height="36" src="https://img.icons8.com/?size=100&id=2yUMEaaYm335&format=png&color=000000" alt="Attainment" title="Attainment"/>
        <span class="px-2 py-0">Attainment</span>
    </button>
    <button class="btn bg-gradient-primary rounded-3 border text-white text-uppercase m-0 px-1 py-1"
            type="button"
            style="width: auto;"
            data-bs-toggle="collapse"
            data-bs-target="#btn_extl_prog"
            aria-expanded="false"
            aria-controls="btn_extl_prog">
        <img class="me-n2" width="36" height="36" src="https://img.icons8.com/?size=100&id=81346&format=png&color=000000" alt="Progress" title="Progress"/>
        <span class="px-2 py-0">Progress</span>
    </button>
</div>