<!-- KPI cards-->
<div class="row g-2 align-items-stretch">
    <div class="col-6 col-md-2">
        <div class="card card-kpi p-3 bg-dark text-white">
            <span class="text-white font-weight-bolder text-end mb-n4 fs-5">YEAR 2 COHORT</span>
            <div class="icon icon-shape bg-white shadow text-center border-radius-2xl pt-1">
                <img src="https://img.icons8.com/?size=100&id=YkUw5cL9MarG&format=png&color=000000" alt="Icon" width="38" height="auto">
            </div>
            <div class="text-end mt-n2">
                <h3 class="text-white font-weight-bolder mb-0">{{ "%.0f"|format(extl_ngrt_intake) }}</h3>
                <div class="kpi-title text-xs font-weight-bolder text-uppercase">Total Intake (All NGRT Exams)</div>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-2">
        <div class="card card-kpi p-3 bg-white text-muted" style="border: 1px solid #c3c3c3">
            <span class="font-weight-bolder text-end mb-n4 fs-5">AVG STANINE</span>
            <div class="icon icon-shape bg-white shadow text-center border-radius-2xl pt-1">
                <img src="https://img.icons8.com/?size=100&id=Lr1pVV0VC2Nc&format=png&color=000000" alt="Icon" width="38" height="auto">
            </div>
            <div class="text-end mt-n2">
                <h3 class="text-dark font-weight-bolder mb-0">{{ "%.0f"|format(avg_stanine_a) }}</h3>
                <div class="kpi-title text-xs font-weight-bolder text-uppercase">Latest Snapshot | NGRT-???</div>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-2">
        <div class="card card-kpi p-3 bg-white text-muted" style="border: 1px solid #c3c3c3">
            <span class="font-weight-bolder text-end mb-n4 fs-5">AVG SAS</span>
            <div class="icon icon-shape bg-white shadow text-center border-radius-2xl pt-1">
                <img src="https://img.icons8.com/?size=100&id=08MAP6WshKB8&format=png&color=000000" alt="Icon" width="38" height="auto">
            </div>
            <div class="text-end mt-n2">
                <h3 class="text-dark font-weight-bolder mb-0">{{ "%.0f"|format(avg_stanine_a) }}</h3>
                <div class="kpi-title text-xs font-weight-bolder text-uppercase">Latest Snapshot | NGRT-???</div>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-2">
        <div class="card card-kpi p-3 bg-gradient-warning text-white">
            <span class="text-white font-weight-bolder text-end mb-n4 fs-5">% SAS ≥90</span>
             <div class="icon icon-shape bg-white shadow text-center border-radius-2xl pt-1">
                <img src="https://img.icons8.com/?size=100&id=Vt1kcsrhXe2k&format=png&color=000000" alt="Icon" width="38" height="auto">
            </div>
            <div class="text-end mt-n2">
                <h3 class="text-white font-weight-bolder mb-0">{{ "%.0f"|format(avg_stanine_b) }}</h3>
                <div class="kpi-title text-xs font-weight-bolder text-uppercase">Within Average+ Literacy</div>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-2">
        <div class="card card-kpi p-3 bg-gradient-info text-white">
            <span class="text-white font-weight-bolder text-end mb-n4 fs-5">% SAS ≥110</span>
             <div class="icon icon-shape bg-white shadow text-center border-radius-2xl pt-1">
                <img src="https://img.icons8.com/?size=100&id=Vt1kcsrhXe2k&format=png&color=000000" alt="Icon" width="38" height="auto">
            </div>
            <div class="text-end mt-n2">
                <h3 class="text-white font-weight-bolder mb-0">{{ "%.0f"|format(avg_stanine_c) }}</h3>
                <div class="kpi-title text-xs font-weight-bolder text-uppercase">High Literacy Threshold</div>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-2">
        <div class="card card-kpi p-3 bg-gradient-success text-white">
            <span class="text-white font-weight-bolder text-end mb-n4 fs-5">% SAS ≥120</span>
             <div class="icon icon-shape bg-white shadow text-center border-radius-2xl pt-1">
                <img src="https://img.icons8.com/?size=100&id=Vt1kcsrhXe2k&format=png&color=000000" alt="Icon" width="38" height="auto">
            </div>
            <div class="text-end mt-n2">
                <h3 class="text-white font-weight-bolder mb-0">{{ "%.0f"|format(avg_stanine_c) }}</h3>
                <div class="kpi-title text-xs font-weight-bolder text-uppercase">Very High Literacy Threshold</div>
            </div>
        </div>
    </div>
</div>
<!-- end of KPI cards-->