<!-- KPI cards-->
<div class="row g-2 align-items-stretch">
    <div class="col-6 col-md-3">
        <div class="card card-kpi p-3 bg-dark text-white">
            <span class="text-white font-weight-bolder text-end mb-n4 fs-5">YEAR 2 COHORT</span>
            <div class="icon icon-shape bg-white shadow text-center border-radius-2xl pt-1">
                <img src="https://img.icons8.com/?size=100&id=u4JUGRNNvKW2&format=png&color=000000" alt="Icon" width="38" height="auto">
            </div>
            <div class="text-end mt-n3">
                <h3 class="text-white font-weight-bolder mb-0">{{ count_intake }}</h3>
                <div class="kpi-title text-xs font-weight-bolder text-uppercase">Total Intake Across All Subjects</div>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-3">
        <div class="card card-kpi p-3 bg-gradient-info text-white">
            <span class="text-white font-weight-bolder text-end mb-n4 fs-5">ENGLISH</span>
            <div class="icon icon-shape bg-white shadow text-center border-radius-2xl pt-1">
                <img src="https://img.icons8.com/?size=100&id=BxuTSqg9XJpB&format=png&color=000000" alt="Icon" width="38" height="auto">
            </div>
            <div class="text-end mt-n3">
                <h3 class="text-white font-weight-bolder mb-0">{{ "%.1f"|format(avg_eng) }}</h3>
                <div class="kpi-title text-xs font-weight-bolder text-uppercase">Average Attainment</div>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-3">
        <div class="card card-kpi p-3 bg-gradient-warning text-white">
            <span class="text-white font-weight-bolder text-end mb-n4 fs-5">MATHEMATICS</span>
            <div class="icon icon-shape bg-white shadow text-center border-radius-2xl pt-1">
                <img src="https://img.icons8.com/?size=100&id=YNaxZEobUCzH&format=png&color=000000" alt="Icon" width="38" height="auto">
            </div>
            <div class="text-end mt-n3">
                <h3 class="text-white font-weight-bolder mb-0">{{ "%.1f"|format(avg_maths) }}</h3>
                <div class="kpi-title text-xs font-weight-bolder text-uppercase">Average Attainment</div>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-3">
        <div class="card card-kpi p-3 bg-gradient-success text-white">
            <span class="text-white font-weight-bolder text-end mb-n4 fs-5">SCIENCE</span>
            <div class="icon icon-shape bg-white shadow text-center border-radius-2xl pt-1">
                <img src="https://img.icons8.com/?size=100&id=0lUc5aQ86S3o&format=png&color=000000" alt="Icon" width="38" height="auto">
            </div>
            <div class="text-end mt-n3">
                <h3 class="text-white font-weight-bolder mb-0">{{ "%.1f"|format(avg_sci) }}</h3>
                <div class="kpi-title text-xs font-weight-bolder text-uppercase">Average Attainment</div>
            </div>
        </div>
    </div>
</div>
<!-- end of KPI cards-->