<div class="container-fluid py-0">
    <!-- KPI-Average Attainment, Internal Assessment E/M/S -->
    <div class="row mb-2">
        <div class="col-12 m-0">
        <!-- Cohort KPI cards-->
        {% include "partials/ci_kpi.html" %}
        </div>
    </div>

    <div class="row g-2 align-items-stretch mb-2">
        <!-- Dashboard chart - Cohort Attainment -->
        <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card h-100 chart-card">
            <div class="card-body d-flex flex-column">
            <div class="row">
                <div class="d-flex align-items-start gap-1">
                <img class="me-1 mt-n1" width="42" height="42" src="https://img.icons8.com/?size=100&id=X3oPFjsBHf08&format=png&color=000000" 
                    alt="Cohort Attainment" title="Cohort Attainment"/>
                <div class="d-flex-inline">
                    <h5 class="text-primary text-uppercase font-weight-bolder mb-n1">Cohort Attainment</h5>
                    <div class="text-muted text-xs">Current Academic Year (English, Maths, Science)</div>
                </div>
                </div>
            </div>
            <div class="chart-body mt-1">
                <div id="chart_cohort_attainment" class="w-100" style="height:360px;"></div>
            </div>
            </div>
        </div>
        </div>

        <!-- Dashboard chart - Progress Distribution -->
        <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card h-100 chart-card">
            <div class="card-body d-flex flex-column">
            <div class="row">
                <div class="d-flex align-items-start gap-1">
                <img class="me-1 mt-n1" width="42" height="42" src="https://img.icons8.com/?size=100&id=PAHdYixOU6ku&format=png&color=000000" 
                    alt="Progress Distribution" title="Progress Distribution"/>
                <div class="d-flex-inline">
                    <h5 class="text-primary text-uppercase font-weight-bolder mb-n1">Cohort Progress</h5>
                    <div class="text-muted text-xs">Current Academic Year (English, Maths, Science)</div>
                </div>
                </div>
            </div>
            <div class="chart-body mt-1">
                <div id="chart_cohort_progress" class="w-100" style="height:360px;"></div>
            </div>
            </div>
        </div>
        </div>

        <!-- Dasboard chart - Internal Assessment Scatter Plot -->
        <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card h-100 chart-card">
            <div class="card-body d-flex flex-column">
            <div class="row">
                <div class="d-flex align-items-start gap-1">
                <img class="me-1 mt-n1" width="42" height="42" src="https://img.icons8.com/?size=100&id=wcbCKdrSmiHG&format=png&color=000000" 
                    alt="Scatter Plot" title="Scatter Plot"/>
                <div class="d-flex-inline">
                    <h5 class="text-primary text-uppercase font-weight-bolder mb-n1">Grade Distribution</h5>
                    <div class="text-muted text-xs">Current Academic Year (English, Maths, Science)</div>
                </div>
                </div>
            </div>
            <div class="chart-body mt-1 mx-n4">
                <div id="internal_scatter_chart" class="w-100" style="height:360px;"></div>
            </div>
            </div>
        </div>
        </div>
    </div>

    <div class="row g-2 align-items-stretch mb-3">
        <!-- Dashboard chart - Grade Distribution Scatter Plot -->
        <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card h-100 chart-card">
            <div class="card-body d-flex flex-column">
            <div class="row">
                <div class="d-flex align-items-start gap-1">
                <img class="me-1 mt-n1" width="42" height="42" src="https://img.icons8.com/?size=100&id=wcbCKdrSmiHG&format=png&color=000000" 
                    alt="Grade Distribution Map" title="Grade Distribution Map"/>
                <div class="d-flex-inline">
                    <h5 class="text-primary text-uppercase font-weight-bolder mb-n1">Grade Distribution Map</h5>
                    <div class="text-muted text-xs">Current Academic Year (English, Maths, Science)</div>
                </div>
                </div>
            </div>
            <div class="chart-body mt-1">
                <div id="" class="w-100" style="height:360px;"></div>
            </div>
            </div>
        </div>
        </div>

        <!-- Dashboard chart - Year Group Attainment -->
        <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card h-100 chart-card">
            <div class="card-body d-flex flex-column">
            <div class="row">
                <div class="d-flex align-items-start gap-1">
                <img class="me-1 mt-n1" width="42" height="42" src="https://img.icons8.com/?size=100&id=0wuOEMdKmQHe&format=png&color=000000" 
                    alt="Year Group Attainment" title="Year Group Attainment"/>
                <div class="d-flex-inline">
                    <h5 class="text-primary text-uppercase font-weight-bolder mb-n1">Year Group Attainment</h5>
                    <div class="text-muted text-xs">Current Academic Year (English, Maths, Science)</div>
                </div>
                </div>
            </div>
            <div class="chart-body mt-1">
                <div id="" class="w-100" style="height:360px;"></div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>