<div class="accordion" id="yrgrp-att_extl">
    {% include "partials/btns_extl_yrgrp_att.html" %}
    <div id="btn_extl_yrgrp_atabove" class="accordion-collapse collapse show mb-2" data-bs-parent="#yrgrp-att_extl">
        <!-- Year Group Insights - at/above curriculum standards -->
        <div class="col-12 px-0 h-100 d-flex flex-column mb-3">
            <div class="card h-100 chart-card">
                <div class="card-body d-flex flex-column">
                    <div class="container ps-0 pe-3">
                        <div class="row">
                            <div class="col-md-8 chart-title d-flex align-items-start gap-2 mb-2">
                                <i class="fa-solid fa-chart-column fa-lg text-primary"></i>
                                <h5 class="text-body mb-0 lh-1">
                                <span class="text-uppercase text-primary font-weight-bolder">Attainment Comparison</span><br/>
                                <span class="text-muted text-sm"><span class="text-info font-weight-bolder">YEAR GROUP vs. COHORT</span><br />
                                <span class="text-xs font-weight-bolder">| at/above Curriculum Standards (Stanine 5 & above)</span>
                                </h5>
                            </div>
                            <div class="col-md-4 d-flex justify-content-end align-items-start">
                                <span class="badge text-md-center fs-6" style="background-color: #3795BD;">NGRT-A ASSESSMENT DATA</span>
                            </div>
                        </div>
                    </div>
                    <div class="chart-body mt-1 mb-3">
                        <div id="bar-yrgrp-st5-extl-ngrta" class="w-100" style="height:360px;"></div>
                    </div>
                    <!-- Year Group vs. Cohort Attainment Table at/above curriculum standards (St5 & above) -->
                    <div class="table-responsive text-xs w-100" style="display: block; overflow-x: auto;">
                        <table class="table table-sm table-tight align-middle w-100 mb-0">
                        <tbody class="small">
                            <tr class="text-center fw-bold">
                                <th scope="row">Class / Cohort</th>
                                <td class="table-light">Students Per Year Group</td>
                                <td class="table-info">Stanine 5 & above (n)</td>
                                <td class="table-success">Percentage of Students (%)</td>
                            </tr>
                        </tbody>
                        <tbody id="tbl-yrgrp-st5-extl-ngrta" class="small"></tbody>
                        <!-- tbody populated with rows of data from extl_analytics_ngrta.js -->
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Year Group Insights - Gender-specific at/above curriculum standards (St5 & above) -->
        <div class="container-fluid px-0 mb-3">
            <div class="row g-3 align-items-stretch">
                <!-- Attainment Year Group Insights - Gender-specific (St5 & above) male -->
                <div class="col-12 col-xl-6">
                    <div class="card h-100 chart-card">
                        <div class="card-body d-flex flex-column">
                            <div class="row">
                                <div class="col-md-10 chart-title d-flex align-items-start gap-1">
                                    <img class="me-1" width="56" height="56" src="https://img.icons8.com/?size=100&id=4V1nG4SioGjp&format=png&color=000000" 
                                    alt="Gender-specific (male)" title="Gender-specific (male)"/>
                                    <h5 class="text-body mb-0 lh-1">
                                    <span class="text-uppercase text-primary font-weight-bolder">Gender-specific Attainment</span><br/>
                                    <span class="text-muted text-sm"><span class="text-info font-weight-bolder">YEAR GROUP vs. COHORT</span><br />
                                    <span class="text-xs font-weight-bolder">| at/above Curriculum Standards (St5 & above)</span>
                                    </h5>
                                </div>
                                <div class="col-md-2 d-flex justify-content-end align-items-start">
                                    <span class="badge bg-gradient-info text-md-center fs-6">MALE</span>
                                </div>
                            </div>
                            <div class="chart-body mt-1">
                                <div id="bar-yrgrp-male-st5-extl-ngrta" class="w-100" style="height:360px;"></div>
                            </div>
                            <!-- Male St5 & Above Attainment Table -->
                            <div class="table-responsive text-xs w-100" style="display: block; overflow-x: auto;">
                                <table class="table table-sm table-tight align-middle w-100 mb-0">
                                <tbody class="small">
                                    <tr class="text-center fw-bold">
                                        <th scope="row">Class / Cohort</th>
                                        <td class="table-light">Male Students</td>
                                        <td class="table-info">Stanine 5 & above (n)</td>
                                        <td class="table-success">Percentage of Students (%)</td>
                                    </tr>
                                </tbody>
                                <tbody id="tbl-yrgrp-male-st5-extl-ngrta" class="small"></tbody>
                                <!-- tbody populated with rows of data from extl_analytics_ngrta.js -->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Attainment Year Group Insights - Gender-specific (St5 & above) female -->
                <div class="col-12 col-xl-6">
                    <div class="card h-100 chart-card">
                        <div class="card-body d-flex flex-column">
                            <div class="row">
                                <div class="col-md-10 chart-title d-flex align-items-start gap-1">
                                    <img class="me-1" width="56" height="56" src="https://img.icons8.com/?size=100&id=Sz1FlYHdFpV4&format=png&color=000000" 
                                    alt="Gender-specific (female)" title="Gender-specific (female)"/>
                                    <h5 class="text-body mb-0 lh-1">
                                    <span class="text-uppercase text-primary font-weight-bolder">Gender-specific Attainment</span><br/>
                                    <span class="text-muted text-sm"><span class="text-info font-weight-bolder">YEAR GROUP vs. COHORT</span><br />
                                    <span class="text-xs font-weight-bolder">| at/above Curriculum Standards (St5 & above)</span>
                                    </h5>
                                </div>
                                <div class="col-md-2 d-flex justify-content-end align-items-start">
                                    <span class="badge bg-gradient-danger text-md-center fs-6">FEMALE</span>
                                </div>
                            </div>
                            <div class="chart-body mt-1">
                                <div id="bar-yrgrp-female-st5-extl-ngrta" class="w-100" style="height:360px;"></div>
                            </div>
                            <!-- Female St5 & Above Attainment Table -->
                            <div class="table-responsive text-xs w-100" style="display: block; overflow-x: auto;">
                                <table class="table table-sm table-tight align-middle w-100 mb-0">
                                <tbody class="small">
                                    <tr class="text-center fw-bold">
                                        <th scope="row">Class / Cohort</th>
                                        <td class="table-light">Female Students</td>
                                        <td class="table-info">Stanine 5 & above (n)</td>
                                        <td class="table-success">Percentage of Students (%)</td>
                                    </tr>
                                </tbody>
                                <tbody id="tbl-yrgrp-female-st5-extl-ngrta" class="small"></tbody>
                                <!-- tbody populated with rows of data from extl_analytics_ngrta.js -->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="btn_extl_yrgrp_above" class="accordion-collapse collapse mb-2" data-bs-parent="#yrgrp-att_extl">
        <!-- Year Group Insights - at least level above curriculum standards -->
        <div class="col-12 px-0 h-100 d-flex flex-column mb-3">
            <div class="card h-100 chart-card">
                <div class="card-body d-flex flex-column">
                    <div class="container ps-0 pe-3">
                        <div class="row">
                            <div class="col-md-8 chart-title d-flex align-items-start gap-2 mb-2">
                                <i class="fa-solid fa-chart-column fa-lg text-primary"></i>
                                <h5 class="text-body mb-0 lh-1">
                                <span class="text-uppercase text-primary font-weight-bolder">Attainment Comparison</span><br/>
                                <span class="text-muted text-sm"><span class="text-info font-weight-bolder">YEAR GROUP vs. COHORT</span><br />
                                <span class="text-xs font-weight-bolder">| at least level above Curriculum Standards (Stanine 6 & above)</span>
                                </h5>
                            </div>
                            <div class="col-md-4 d-flex justify-content-end align-items-start">
                                <span class="badge text-md-center fs-6" style="background-color: #3795BD;">NGRT-A ASSESSMENT DATA</span>
                            </div>
                        </div>
                        <div class="chart-body mt-1 mb-3">
                            <div id="bar-yrgrp-st6-extl-ngrta" class="w-100" style="height:360px;"></div>
                        </div>
                        <!-- Year Group vs. Cohort Attainment Table at least level above curriculum standards (St6 & above) -->
                        <div class="table-responsive text-xs w-100" style="display: block; overflow-x: auto;">
                            <table class="table table-sm table-tight align-middle w-100 mb-0">
                            <tbody class="small">
                                <tr class="text-center fw-bold">
                                    <th scope="row">Class / Cohort</th>
                                    <td class="table-light">Students Per Year Group</td>
                                    <td class="table-info">Stanine 6 & above (n)</td>
                                    <td class="table-success">Percentage of Students (%)</td>
                                </tr>
                            </tbody>
                            <tbody id="tbl-yrgrp-st6-extl-ngrta" class="small"></tbody>
                            <!-- tbody populated with rows of data from extl_analytics_ngrta.js -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Year Group Insights - Gender-specific at least level curriculum standards (St6 & above) -->
        <div class="container-fluid px-0 mb-3">
            <div class="row g-3 align-items-stretch">
                <!-- Attainment Year Group Insights - Gender-specific (St6 & above) male -->
                <div class="col-12 col-xl-6">
                    <div class="card h-100 chart-card">
                        <div class="card-body d-flex flex-column">
                            <div class="row">
                                <div class="col-md-10 chart-title d-flex align-items-start gap-1">
                                    <img class="me-1" width="56" height="56" src="https://img.icons8.com/?size=100&id=4V1nG4SioGjp&format=png&color=000000" 
                                    alt="Gender-specific (male)" title="Gender-specific (male)"/>
                                    <h5 class="text-body mb-0 lh-1">
                                    <span class="text-uppercase text-primary font-weight-bolder">Gender-specific Attainment</span><br/>
                                    <span class="text-muted text-sm"><span class="text-info font-weight-bolder">YEAR GROUP vs. COHORT</span><br />
                                    <span class="text-xs font-weight-bolder">| at least level above Curriculum Standards (St6 & above)</span>
                                    </h5>
                                </div>
                                <div class="col-md-2 d-flex justify-content-end align-items-start">
                                    <span class="badge bg-gradient-info text-md-center fs-6">MALE</span>
                                </div>
                            </div>
                            <div class="chart-body mt-1">
                                <div id="bar-yrgrp-male-st6-extl-ngrta" class="w-100" style="height:360px;"></div>
                            </div>
                            <!-- Male St6 & Above Attainment Table -->
                            <div class="table-responsive text-xs w-100" style="display: block; overflow-x: auto;">
                                <table class="table table-sm table-tight align-middle w-100 mb-0">
                                <tbody class="small">
                                    <tr class="text-center fw-bold">
                                        <th scope="row">Class / Cohort</th>
                                        <td class="table-light">Male Students</td>
                                        <td class="table-info">Stanine 6 & above (n)</td>
                                        <td class="table-success">Percentage of Students (%)</td>
                                    </tr>
                                </tbody>
                                <tbody id="tbl-yrgrp-male-st6-extl-ngrta" class="small"></tbody>
                                <!-- tbody populated with rows of data from extl_analytics_ngrta.js -->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Attainment Year Group Insights - Gender-specific (St6 & above) female -->
                <div class="col-12 col-xl-6">
                    <div class="card h-100 chart-card">
                        <div class="card-body d-flex flex-column">
                            <div class="row">
                                <div class="col-md-10 chart-title d-flex align-items-start gap-1">
                                    <img class="me-1" width="56" height="56" src="https://img.icons8.com/?size=100&id=Sz1FlYHdFpV4&format=png&color=000000" 
                                    alt="Gender-specific (female)" title="Gender-specific (female)"/>
                                    <h5 class="text-body mb-0 lh-1">
                                    <span class="text-uppercase text-primary font-weight-bolder">Gender-specific Attainment</span><br/>
                                    <span class="text-muted text-sm"><span class="text-info font-weight-bolder">YEAR GROUP vs. COHORT</span><br />
                                    <span class="text-xs font-weight-bolder">| at least level above Curriculum Standards (St6 & above)</span>
                                    </h5>
                                </div>
                                <div class="col-md-2 d-flex justify-content-end align-items-start">
                                    <span class="badge bg-gradient-danger text-md-center fs-6">FEMALE</span>
                                </div>
                            </div>
                            <div class="chart-body mt-1">
                                <div id="bar-yrgrp-female-st6-extl-ngrta" class="w-100" style="height:360px;"></div>
                            </div>
                            <!-- Female St6 & Above Attainment Table -->
                            <div class="table-responsive text-xs w-100" style="display: block; overflow-x: auto;">
                                <table class="table table-sm table-tight align-middle w-100 mb-0">
                                <tbody class="small">
                                    <tr class="text-center fw-bold">
                                        <th scope="row">Class / Cohort</th>
                                        <td class="table-light">Female Students</td>
                                        <td class="table-info">Stanine 6 & above (n)</td>
                                        <td class="table-success">Percentage of Students (%)</td>
                                    </tr>
                                </tbody>
                                <tbody id="tbl-yrgrp-female-st6-extl-ngrta" class="small"></tbody>
                                <!-- tbody populated with rows of data from extl_analytics_ngrta.js -->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>