<div class="accordion" id="yrgrp-att_extl">
    {% include "partials/btns_extl_yrgrp_att.html" %}
    <div id="btn_extl_yrgrp_atabove" class="accordion-collapse collapse show mb-2" data-bs-parent="#yrgrp-att_extl">
        <!-- Year Group Insights - at/above curriculum standards -->
        <div class="col-12 px-0 h-100 d-flex flex-column mb-3">
                <div class="card h-100 chart-card">
                    <div class="card-body d-flex flex-column">
                        <div class="container ps-0 pe-3">
                            <div class="row">
                                <div class="col-md-8 chart-title d-flex align-items-start gap-2 mb-2">
                                    <i class="fa-solid fa-chart-column fa-lg text-primary"></i>
                                    <h5 class="text-body mb-0 lh-1">
                                    <span class="text-uppercase text-primary font-weight-bolder">Attainment Comparison</span><br/>
                                    <span class="text-muted text-sm"><span class="text-info font-weight-bolder">YEAR GROUP vs. COHORT</span>
                                    </h5>
                                </div>
                                <div class="col-md-4 d-flex justify-content-end align-items-start">
                                    <span class="badge bg-gradient-info text-md-center fs-6">NGRT-A ASSESSMENT DATA</span>
                                </div>
                            </div>
                        </div>
                        <div class="chart-body mt-1 mb-3">
                            <div id="bar-yrgrp-st5-extl-ngrta" class="w-100" style="height:360px;"></div>
                        </div>
                        <!-- Year Group vs. Cohort Attainment Table at/above curriculum standards (St5 & above) -->
                        <div class="table-responsive text-xs w-100" style="display: block; overflow-x: auto;">
                            <table class="table table-sm table-tight align-middle w-100 mb-0">
                            <tbody class="small">
                                <tr class="text-center fw-bold">
                                    <th scope="row">Class / Cohort</th>
                                    <td class="table-light">Students Per Year Group</td>
                                    <td class="table-info">at/above Curriculum Standards (n)</td>
                                    <td class="table-success">Percentage of Students (%)</td>
                                </tr>
                            </tbody>
                            <tbody id="tbl-yrgrp-st5-extl-ngrta" class="small"></tbody>
                            <!-- tbody populated with rows of data from extl_analytics_ngrta.js -->
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div id="btn_extl_yrgrp_above" class="accordion-collapse collapse mb-2" data-bs-parent="#yrgrp-att_extl">
        <!-- Year Group Insights - at least level above curriculum standards -->
        <div class="col-12 px-0 h-100 d-flex flex-column mb-3">
            <div class="card h-100 chart-card">
                <div class="card-body d-flex flex-column">
                    <div class="container ps-0 pe-3">
                        <div class="row">
                            <div class="col-md-8 chart-title d-flex align-items-start gap-2 mb-2">
                                <i class="fa-solid fa-chart-column fa-lg text-primary"></i>
                                <h5 class="text-body mb-0 lh-1">
                                <span class="text-uppercase text-primary font-weight-bolder">Attainment Comparison</span><br/>
                                <span class="text-muted text-sm"><span class="text-info font-weight-bolder">YEAR GROUP vs. COHORT</span>
                                </h5>
                            </div>
                            <div class="col-md-4 d-flex justify-content-end align-items-start">
                                <span class="badge bg-gradient-success text-md-center fs-6">NGRT-A ASSESSMENT DATA</span>
                            </div>
                        </div>
                        <!-- Year Group vs. Cohort Attainment Table at least level above curriculum standards (St6 & above) -->
                        <div class="table-responsive text-xs w-100" style="display: block; overflow-x: auto;">
                            <table class="table table-sm table-tight align-middle w-100 mb-0">
                            <tbody class="small">
                                <tr class="text-center fw-bold">
                                    <th scope="row">Class / Cohort</th>
                                    <td class="table-light">Students Per Year Group</td>
                                    <td class="table-info">at least level above Curriculum Standards (n)</td>
                                    <td class="table-success">Percentage of Students (%)</td>
                                </tr>
                            </tbody>
                            <tbody id="tbl-yrgrp-st6-extl-ngrta" class="small"></tbody>
                            <!-- tbody populated with rows of data from extl_analytics_ngrta.js -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>