<div class="bg-white border-0 rounded-3 shadow-sm p-3 mb-3">
    <div class="card-header mb-3">
        <div class="card-title mb-0 text-uppercase font-weight-bolder text-primary">
            <div class="d-flex align-items-start gap-1">
                <img class="me-1 mt-n1" width="48" height="48" src="https://img.icons8.com/?size=100&id=X3oPFjsBHf08&format=png&color=000000" 
                alt="Progress Category Distribution" title="Progress Category Distribution"/>
                <h5 class="text-body mb-0 mt-1 lh-1">
                    <span class="text-uppercase text-primary font-weight-bolder">Progress Distribution</span><br/>
                    <span class="text-info text-sm font-weight-bolder">Progress Category | <span class="extl_ngrt_level"></span> Assessment Data</span>
                </h5>
            </div>
        </div>
    </div>
    <div class="chart-body mt-1">
        <div id="chart_extl_progcat" class="w-100" style="width:100%;height:500px;"></div>
    </div>
</div>