<div class="bg-white border-0 rounded-3 shadow-sm p-3 mb-3">
    <div class="card-header mb-3">
        <div class="card-title mb-0 text-uppercase font-weight-bolder text-primary">
            <div class="col-md-10 d-flex align-items-start gap-1">
                <img class="me-1 mt-n1" width="48" height="48" src="https://img.icons8.com/?size=100&id=elqrgCjA3OQa&format=png&color=000000" 
                alt="NGRT-A Performance" title="NGRT-A Performance"/>
                <h5 class="text-body mb-0 mt-1 lh-1">
                    <span class="text-uppercase text-primary font-weight-bolder">NGRT-A Performance</span><br/>
                    <span class="text-muted text-sm"><span class="text-info font-weight-bolder">NGRT-A Stanine vs. Standard Age Score (SAS)</span>
                </h5>
            </div>
        </div>
    </div>
    <div class="chart-body mt-1">
        <div id="extl_ngrta_scatter" class="w-100" style="height:360px;"></div>
    </div>
</div>