<!-- Student KPI cards -->
<div id="kpis" class="row g-3 mb-3 mt-0 mx-auto">
    <div class="col-6 col-lg-4">
        <div class="card card-kpi p-3 bg-dark text-white">
            <span class="text-white font-weight-bolder text-end mb-n5 fs-5">Student</span>
            <div class="icon icon-shape mt-3">
                <img id="student_gender_icon"
                    width="64"
                    height="64"
                    src="https://img.icons8.com/?size=100&id=Gziha7xJGho9&format=png&color=000000"
                    alt="Student Information"
                    title="Student Information"/>
            </div>
            <h3 class="text-white font-weight-bolder mb-0 mt-n3 text-end" id="kpi_total_value">-</h3>
            <div class="kpi-title text-xs font-weight-bolder text-uppercase text-end" id="kpi_total_title">Year 2 Cohort</div>
        </div>
    </div>

    <div class="col-6 col-lg-4">
        <div class="card card-kpi p-3 bg-gradient-info text-white">
            <span class="text-white font-weight-bolder text-end mb-n5 fs-5">Standard Age Score (SAS)</span>
            <div class="icon icon-shape mt-3">
                <img width="64" height="64" src="https://img.icons8.com/?size=100&id=BxuTSqg9XJpB&format=png&color=000000" alt="Student Information" title="Student Information"/>
            </div>
            <h3 class="text-white font-weight-bolder mb-0 mt-n3 text-end" id="kpi_sas">-</h3>
            <div class="kpi-title text-xs font-weight-bolder text-uppercase text-end">NGRT-A</div>
        </div>
    </div>

    <div class="col-6 col-lg-4">
        <div class="card card-kpi p-3 bg-gradient-success text-white">
            <span class="text-white font-weight-bolder text-end mb-n5 fs-5">Stanine</span>
            <div class="icon icon-shape mt-3">
                <img width="64" height="64" src="https://img.icons8.com/?size=100&id=Lr1pVV0VC2Nc&format=png&color=000000" alt="Student Information" title="Student Information"/>
            </div>
            <h3 class="text-white font-weight-bolder mb-0 mt-n3 text-end" id="kpi_stanine">-</h3>
            <div class="kpi-title text-xs font-weight-bolder text-uppercase text-end">NGRT-A</div>
        </div>
    </div>
</div>
<!-- End of KPIs -->
