<div class="accordion" id="coh-att_extl">
{% include "partials/btns_ext_att_prog.html" %}
    <!-- Accordion item for Attainment Distribution -->
    <div id="btn_extl_att" class="accordion-collapse collapse show mb-2" data-bs-parent="#coh-att_extl">
        <!-- Cohort Analysis -->
        <div class="col-12 px-0 h-100 d-flex flex-column mb-3">
            <div class="card h-100 chart-card">
                <div class="card-body d-flex flex-column">
                    <div class="container ps-0 pe-3">
                        <div class="row">
                            <div class="col-md-8 chart-title d-flex align-items-start gap-2 mb-2">
                                <i class="fa-solid fa-chart-column fa-lg text-primary"></i>
                                <h5 class="text-body mb-0 lh-1">
                                <span class="text-uppercase text-primary font-weight-bolder">Attainment Distribution</span><br/>
                                <span class="text-muted text-sm"><span class="text-info font-weight-bolder">COHORT DATA ANALYSIS</span>
                                </h5>
                            </div>
                            <div class="col-md-4 d-flex justify-content-end align-items-start">
                                <span class="badge text-md-center fs-6" style="background-color: #DE1A58;">NGRT-C ASSESSMENT DATA</span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="chart-body col-md-6">
                                <div class="card card-kpi
                                    text-white text-xs text-uppercase text-center
                                    fw-bold d-flex justify-content-center align-items-center py-2"
                                    style="background-color: #DE1A58;">
                                    ％ of students at/above<br/>
                                    <span class="fs-5 font-weight-bolder text-white">Curriculum Standard</span>
                                    <span class="text-xs fw-lighter text-capitalize">(Stanine 5 & above)</span>
                                </div>
                                <div class="mt-3" id="pie-st5-extl-ngrtc" style="height:360px;">
                                    <!-- Pie Chart: External Assessment - Cohort Attainment Distribution (NGRT-C) St5&above -->
                                </div>
                            </div>
                            <div class="chart-body col-md-6">
                                <div class="card card-kpi
                                    text-white text-xs text-uppercase text-center
                                    fw-bold d-flex justify-content-center align-items-center py-2"
                                    style="background-color: #DE1A58;">
                                    ％ of students attaining at least level above<br/><span class="fs-5 font-weight-bolder text-white">Curriculum Standard</span>
                                    <span class="text-xs fw-lighter text-capitalize">(Stanine 6 & above)</span>
                                </div>
                                <div class="mt-3" id="pie-st6-extl-ngrtc" style="height:360px;">
                                    <!-- Pie Chart: External Assessment - Cohort Attainment Distribution (NGRT-C) St6&above -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <!-- Gender-specific Attainment chart St5&above -->
            <div class="col-6">
                <div class="card h-100 chart-card">
                    <div class="card-body d-flex flex-column">
                        <div class="chart-title d-flex align-items-start gap-2">
                            <i data-lucide="bar-chart-3" class="text-primary"></i>
                            <h5 class="text-body mb-0 lh-1">
                            <span class="text-uppercase text-primary font-weight-bolder">Gender-specific Attainment Analysis</span><br/>
                            <span class="p-1 bg-gradient-info text-white text-xs">％ of Students at/above Curriculum Standard (St5 & above)</span><br/>
                            </h5>
                        </div>
                        <div class="chart-body mt-1">
                            <div id="bar-gender-st5-extl-ngrtc" class="w-100" style="height:360px;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Gender-specific Attainment chart St6&above -->
            <div class="col-6">
                <div class="card h-100 chart-card">
                    <div class="card-body d-flex flex-column">
                        <div class="chart-title d-flex align-items-start gap-2">
                            <i data-lucide="bar-chart-3" class="text-primary"></i>
                            <h5 class="text-body mb-0 lh-1">
                            <span class="text-uppercase text-primary font-weight-bolder">Gender-specific Attainment Analysis</span><br/>
                            <span class="p-1 bg-gradient-success text-white text-xs">％ of Students attaining at least level above Curriculum Standard (St6 & above)</span><br/>
                            </h5>
                        </div>
                        <div class="chart-body mt-1">
                            <div id="bar-gender-st6-extl-ngrtc" class="w-100" style="height:360px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Accordion item for Progress Over Time -->
    <div id="btn_extl_prog" class="accordion-collapse collapse" data-bs-parent="#coh-att_extl">
        <!-- Cohort Analysis -->
        <div class="col-12 px-0 h-100 d-flex flex-column mb-3">
            <div class="card h-100 chart-card">
                <div class="card-body d-flex flex-column">
                    <div class="container ps-0 pe-3">
                        <div class="row">
                            <div class="col-md-8 chart-title d-flex align-items-start gap-2 mb-2">
                                <i class="fa-solid fa-chart-column fa-lg text-primary"></i>
                                <h5 class="text-body mb-0 lh-1">
                                <span class="text-uppercase text-primary font-weight-bolder">Progress Over Time</span><br/>
                                <span class="text-muted text-sm"><span class="text-info font-weight-bolder">COHORT DATA ANALYSIS</span>
                                </h5>
                            </div>
                            <div class="col-md-4 d-flex justify-content-end align-items-start">
                                <span class="badge text-md-center fs-6" style="background-color: #DE1A58;">NGRT-C ASSESSMENT DATA</span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="chart-body col-md-6">
                                <div class="card card-kpi
                                    text-white text-xs text-uppercase text-center
                                    fw-bold d-flex justify-content-center align-items-center py-2"
                                    style="background-color: #DE1A58;">
                                    ％ of students that made<br/>
                                    <span class="fs-5 font-weight-bolder text-white">Expected/Better Progress</span>
                                    <span class="text-xs fw-lighter text-capitalize">(Expected/Better than Expected)</span>
                                </div>
                                <div class="mt-3 w-100 d-flex justify-content-center align-items-center" id="pie-prog-exp-plus-extl-ngrtc" 
                                style="height:360px; max-width: 100%; overflow: hidden;">
                                    <!-- Pie Chart: External Assessment - Cohort Progress Over Time (NGRT-C) Expected+Better -->
                                </div>
                            </div>
                            <div class="chart-body col-md-6">
                                <div class="card card-kpi
                                    text-white text-xs text-uppercase text-center
                                    fw-bold d-flex justify-content-center align-items-center py-2"
                                    style="background-color: #DE1A58;">
                                    ％ of students that made<br/>
                                    <span class="fs-5 font-weight-bolder text-white">Better Progress</span>
                                    <span class="text-xs fw-lighter text-capitalize">(Better than Expected)</span>
                                </div>
                                <div class="mt-3 w-100 d-flex justify-content-center align-items-center" id="pie-prog-better-extl-ngrtc" 
                                style="height:360px; max-width: 100%; overflow: hidden;">
                                    <!-- Pie Chart: External Assessment - Cohort Progress Over Time (NGRT-C) Better Progress -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Gender-specific Progress chart Expected/Better Progress -->
            <div class="col-6">
                <div class="card h-100 chart-card">
                    <div class="card-body d-flex flex-column" style="min-width:0;">
                        <div class="chart-title d-flex align-items-start gap-2">
                            <i data-lucide="bar-chart-3" class="text-primary"></i>
                            <h5 class="text-body mb-0 lh-1">
                            <span class="text-uppercase text-primary font-weight-bolder">Gender-specific Progress over Time</span><br/>
                            <span class="p-1 bg-gradient-info text-white text-xs">％ of Students that made Expected or Better Progress</span><br/>
                            </h5>
                        </div>
                        <div class="mt-3 flex-grow-1" style="min-width:0;">
                            <div id="bar-gender-exp-plus-extl-ngrtc" class="w-100" style="height:360px; width:100%; max-width:100%; overflow: hidden;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Gender-specific Progress chart Better Progress -->
            <div class="col-6">
                <div class="card h-100 chart-card">
                    <div class="card-body d-flex flex-column" style="min-width:0;">
                        <div class="chart-title d-flex align-items-start gap-2">
                            <i data-lucide="bar-chart-3" class="text-primary"></i>
                            <h5 class="text-body mb-0 lh-1">
                            <span class="text-uppercase text-primary font-weight-bolder">Gender-specific Progress over Time</span><br/>
                            <span class="p-1 bg-gradient-success text-white text-xs">％ of Students that made Better Progress</span><br/>
                            </h5>
                        </div>
                        <div class="mt-3 flex-grow-1" style="min-width:0;">
                            <div id="bar-gender-better-extl-ngrtc" class="w-100" style="height:360px; width:100%; max-width:100%; overflow: hidden;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block extra_js %}
    <!-- Plotly required for the charts -->
    <script src="https://cdn.plot.ly/plotly-2.35.2.min.js"></script>

    <!-- external chart logic -->
    <script src="{{ url_for('static', filename='js/charts/extl_analytics_ngrtc.js') }}?v=3"></script>
{% endblock %}