<div class="row g-3">
    <div class="col-12 col-lg-6">
        <div class="card border-0 rounded-3 shadow-sm">
        <div class="card-body">
            <div class="d-flex justify-content-start align-items-center gap-2 mb-2 text-primary">
            <i data-lucide="line-chart"></i>
            <h5 class="card-title mb-0 text-uppercase font-weight-bolder">Performance Over Time</h5>
            </div>
            <!-- Line chart canvas -->
            <div id="chart_line" style="height:360px;"></div>
        </div>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <div class="card border-0 rounded-3 shadow-sm">
        <div class="card-body">
            <div class="d-flex justify-content-start align-items-center gap-2 mb-2 text-primary">
            <i data-lucide="bar-chart-3" class="text-primary"></i>
            <h5 class="card-title mb-0 text-uppercase font-weight-bolder">Grade Distribution (Bands)</h5>
            </div>
            <!-- Bar chart canvas -->
            <div id="chart_bands" style="height:360px;"></div>
        </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card border-0 rounded-3 shadow-sm">
        <div class="card-body">
            <div class="d-flex justify-content-start align-items-center gap-2 mb-2 text-primary">
            <i data-lucide="bar-chart-3" class="text-primary"></i>
            <h5 class="card-title mb-0 text-primary text-uppercase font-weight-bolder">Progress Category</h5>
            </div>
            <!-- Bar chart canvas -->
            <div id="chart_progcats" style="height:360px;"></div>
        </div>
        </div>
    </div>
</div>