<!-- Year Group vs. Cohort: Avg Attainment Comparison (E/M/S) - previous year vs. current year -->
<div class="col-12 px-0 h-100 d-flex flex-column">
    <div class="card h-100 chart-card">
        <div class="card-body d-flex flex-column">
            <div class="chart-title d-flex align-items-start gap-2">
                <i data-lucide="line-chart" class="text-primary"></i>
                <h5 class="text-body font-weight-bolder lh-1">
                <span class="text-uppercase text-primary">Average Attainment Comparison</span><br/>
                <span class="text-muted text-xs">
                    <span class="text-info font-weight-bolder">YEAR GROUP vs. COHORT</span>
                    | Current Academic Year (English, Maths, Science)</span>
                </h5>
            </div>

            <!-- Group Bar Graph - Avg Attainment Comparison for Year Group vs. Cohort -->
            <div class="chart-body mt-1">
                <div id="chart_yrgrp_analytics" class="w-100 mb-0" style="height:360px;"></div>
                <div id="tbl_yrgrp_analytics" class="mt-0"></div>
            </div>
        </div>
    </div>
</div>