{% extends "layouts/base.html" %}

{% block content %}
<main class="container py-4">
  <div class="d-flex align-items-start justify-content-between mb-3">
    <div>
      <h5 class="h5 mb-1">📈 Analytics Dashboard - External Assessments - New Group Reading Test (Form-A)</h5>
      <div class="text-xs">View insights across standardised assessments, track growth, and benchmark performance.</div>
    </div>
  </div>

  <!-- Accordion for cohort, year group, and student insights -->
  <div class="accordion" id="accorCohort">
  <!-- Tab buttons in one row -->
  {% include "partials/btns_insights.html" %}

    <!-- Collapsible contents -->
    <!-- Accordion 1: Cohort Insights -->
    <div id="c1" class="accordion-collapse collapse show" data-bs-parent="#accorCohort">
      <div class="container-fluid px-0 mb-3">
        <div class="row g-0">
          {% include "partials/extl_ci_analytics_a.html" %}
        </div>
      </div>
    </div>
    <!-- End of Accordion 1 -->

    <!-- Collapsible contents -->
    <!-- Accordion 2: Year Group Insights -->
    <div id="c2" class="accordion-collapse collapse" data-bs-parent="#accorCohort">
      <div class="container-fluid px-0 mb-3">
        <div class="row g-0">
          {% include "partials/extl_yi_analytics_a.html" %}
        </div>
      </div>
    </div>
    
    <!-- Collapsible contents -->
    <!-- Accordion 3: Student Insights -->
    <div id="c3" class="accordion-collapse collapse" data-bs-parent="#accorCohort">
      <div class="container-fluid px-0 mb-3">
        <div class="row g-0">
          <!-- filters for year group and students -->
          {% include "partials/extl_si_analytics_a_filters.html" %}

          <!-- Student KPI cards -->
          {% include "partials/extl_si_kpi_ngrta.html" %}

          <!-- AI analysis card -->
          {% include "partials/extl_si_ai_analysis.html" %}
        </div>
      </div>
    </div>
    <!-- End of Accordion 3 -->
  </div>
</main>
{% endblock content %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/charts/extl_si_analytics_a.js') }}?v=4"></script>
{% endblock %}
