{% extends "layouts/base.html" %}

{% block content %}
<div class="container-fluid py-2">
<div class="row">
    <div class="col-12">
    <div class="card mb-4">
        <div class="card-header pb-0">
            <p class="text-uppercase text-xs text-dark font-weight-bolder">Filters</p>
            <form id="filterForm" class="row gy-2 gx-2 align-items-center mb-3" method="get" action="#">
                <div class="col-12 col-md-4">
                    <input type="search" class="form-control text-xs" name="q" placeholder="Search name or ID"
                        value="Type here..." onfocus="this.value=''" onblur="if(this.value==''){this.value='Type here...'}">
                </div>

                <div class="col-6 col-md-2">
                    <select class="form-select text-xs" name="gender" id="gender">
                    <option value="">All genders</option>
                    {% for g in genders %}
                        <option value="{{ g }}" {{ 'selected' if g==gender else '' }}>{{ g }}</option>
                    {% endfor %}
                    </select>
                </div>

                <div class="col-6 col-md-2">
                    <select class="form-select text-xs" name="yrgrp id="yrgrp">
                    <option value="">All year groups</option>
                    {% for y in yrgrps %}
                        <option class="text-uppercase" value="{{ y }}" {{ 'selected' if y==yrgrp else '' }}>{{ y }}</option>
                    {% endfor %}
                    </select>
                </div>

                <div class="col-6 col-md-2">
                    <select class="form-select text-xs" name="regstat id="regstat">
                    <option value="">All registration status</option>
                    {% for r in regstat %}
                        <option value="{{ r }}" {{ 'selected' if r==regstat else '' }}>{{ r }}</option>
                    {% endfor %}
                    </select>
                </div>
            </form>
        </div>

        <hr class="horizontal dark mt-0 mb-0">
        
        <div class="card-header pb-0">
            <h5>Student Information</h5>
        </div>
        {% if no_data and students is none %}
            <p class="d-block text-danger">
                WARNING!!!<br />
                &#10008; {{ msg_students }}<br />
                Please contact your administrator to upload the required data.
            </p>
        {% else %}
            <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                <thead>
                    <tr>
                        <!-- ID No., Forename, Surname, DOB, Reg. Status, SEN Details -->
                        <th class="text-uppercase text-secondary text-dark text-xs font-weight-bolder ps-3">Personal Details</th>
                        <th class="text-uppercase text-secondary text-dark text-xs font-weight-bolder ps-2">Gender</th>
                        <th class="text-uppercase text-secondary text-dark text-xs font-weight-bolder ps-2">Year Group</th>
                        <th class="text-uppercase text-secondary text-dark text-xs font-weight-bolder ps-2">Nationality</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td style="width: 1%;">
                            <div class="d-flex px-2 py-1">
                                <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-xs">{{ student.student_id }}&nbsp;
                                    <span class="text-xs text-primary mb-0">
                                    {{student.forename}}&nbsp;{{student.surname}}
                                    </span>
                                </h6>
                                <p class="text-xs text-secondary mb-0">
                                    {{student.date_of_birth}},&nbsp;{{student.status}}
                                </p>
                                <p class="text-xs text-secondary mb-0">
                                    {% if student.sped == 'No' or student.sped == 'None' %}
                                        <!-- show nothing -->
                                    {% else %}
                                        SEN Details: <span class="badge bg-gradient-danger">{{student.sped}}</span>
                                    {% endif %}
                                </p>
                                </div>
                            </div>
                        </td>

                        <td style="width: 1%;">
                            <div>
                                <div class="d-flex flex-column justify-content-center">
                                <p class="text-xs text-secondary mb-0">{{student.gender}}</p>
                                </div>
                            </div>
                        </td>

                        <td style="width: 1%;">
                            <div>
                                <div class="d-flex flex-column justify-content-center">
                                <p class="text-xs text-secondary mb-0">Year <span class="text-uppercase">{{student.yrgrp}}</span></p>
                                </div>
                            </div>
                        </td>

                        <td style="width: 1%;">
                            <div>
                                <div class="d-flex flex-column justify-content-center">
                                <p class="text-xs text-secondary mb-0">{{student.nationality}}</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
            </div>
        {% endif %}
    </div>
    </div>
</div>
{% include "includes/footer.html" %}
</div>
{% endblock content %}