{% extends "layouts/base.html" %}

{% block content %}
<main class="main-content mt-0">
    <section class="min-vh-100 mb-8">
      <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('{{ url_for('static', filename='assets/img/curved-images/amara14.png') }}');">
        <span class="mask bg-gradient-dark opacity-6"></span>
      </div>    
      <div class="container">
        <div class="row mt-lg-n12 mt-md-n11 mt-n10">
          <div class="col-xl-8 col-lg-9 col-md-9 mx-auto">
            <div class="card z-index-0">
              <div class="card-header text-center pt-4 mb-n3">
                <h5>Create New Account</h5>
              </div>
              <div class="card-body text-center pt-4">
                {% if success %}
                  <!-- <i class="fa fa-info-circle"></i> -->
                  <!-- <h6 class="font-italic text-muted">New user added succesfully!</h6> -->
                  <!-- <a href="{{ url_for('home_blueprint.addusers') }}" class="mx-auto btn btn-primary shadow-2 mt-2 mb-2"></a> -->
                  <!-- <form action="{{ url_for('home_blueprint.addusers') }}" method="post"></form> -->
                  <script>
                    window.location.href = "{{ url_for('home_blueprint.addusers') }}";
                  </script>
                {% else %}
              
                <form class="row" role="form text-left" method="post">
                  {{ form.hidden_tag() }}

                  {% if msg %}
                    <span class="d-block text-danger mb-3">{{ msg | safe }}</span>
                  {% endif %} 

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{ form.username(placeholder="Username", class="form-control") }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      {{ form.password(placeholder="Password", class="form-control", type="password") }}
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{ form.first_name(placeholder="First Name", class="form-control") }}
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{ form.last_name(placeholder="Last Name", class="form-control") }}
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      {{ form.email(placeholder="Email", class="input form-control", type="email") }}
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <!-- {{ form.designation(placeholder="Designation", class="form-control") }} -->
                      {{ form.designation(placeholder="Designation / Class access (e.g., 2-A or 2-A,2-B)", class="form-control") }}
                      <small class="text-muted text-sm fw-lighter">For non-admin users, enter class code(s) to control Student Insights access 
                      (e.g., <code>2-A</code> or <code>2-A, 2-B</code>).</small>
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group">
                      {{ form.address(placeholder="Address", class="form-control") }}
                    </div>
                  </div>

                  <div class="text-center mt-2 mb-n2">
                    <button type="submit" name="addusers" class="mx-auto btn btn-sm btn-primary shadow-2 mb-2"
                    onclick="alert('&#8505; New user created succesfully!')">Submit</button>
                  </div>
                </form>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% include "includes/footer.html" %}
      </div>
    </section>
  </main>
{% endblock content %}
{% block extra_js %}
  <script>
    function handleSubmit(event) {
        event.preventDefault(); // Prevent the default form submission
        alert('&#8505; New user created successfully!'); // Show success message
        window.location.href = "{{ url_for('home_blueprint.addusers') }}"; // Redirect to addusers page
    }
  </script>
{% endblock extra_js %}