.ei-tabs {
  display: flex;
  justify-content: end;
  /* background: #e5e7eb; */
  padding: 4px;
  border-radius: 12px;
}

/* Base button */
.ei-tab {
  border: none;
  padding: 8px 18px;
  background: #bde8f5;
  color: black;
  font-size: small;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;

  /* 🔥 IMPORTANT: remove individual rounding */
  border-radius: 0;
}

/* FIRST tab → rounded left */
.ei-tab:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* LAST tab → rounded right */
.ei-tab:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Active tab */
.ei-tab.active {
  background: #3b82f6;
  color: white;
}

/* Hover */
.ei-tab:hover:not(.active) {
  background: #FEFDDF;
  color: black;
}

.ei-tab:hover {
  background: #FEFDDF;
  color: black;
}

/* Tab section animation */
.tab-section {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}